* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    padding: 10px 110px;
}

/* header */
.top {
    position: absolute;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: white;
    width: 100%;
}

.top__element li {
    list-style: none;
}

.top__element ul {
    padding-top: 20px;
    display: flex;
    gap: 20px;
}

.top__element li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.top__element li a {
    display: block;
    display: flex;

}

.fa-bars {
    display: none;

}


.top__element li a:hover {
    border-top: 3px solid #8FB63F;
}

.hero {
    margin-bottom: 10px;
}

.hero__bg {
    background-image: linear-gradient(to bottom left, #8FB63F, #005374, #000000);
    width: 100%;
    height: 100vh;
    z-index: -100;
}

.hero__img {
    display: flex;
    justify-content: space-between;
}

#img__left {
    width: 100%;
    padding-top: 10px;
    max-width: 503px;
    margin-left: -170px;

}

#img__right {
    width: 100%;
    padding-top: 10px;
    max-width: 503px;
    margin-left: 680px;

}


h1 {
    position: absolute;
    top: 15%;
    left: 500px;
    width: 60%;
    text-align: right;
    color: white;
    font-size: 10vh;
    font-weight: 600;
}

.hero__info {
    position: absolute;
    top: 55%;
    font-weight: 200;
    width: 65%;
    left: 410px;
    text-align: right;
    color: white;
    font-size: 8vh;
}

.hero__btn {
    position: absolute;
    bottom: 5%;
    width: 65%;
    left: 400px;
    text-align: right;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: none;
}

/* Product */
.product {
    display: flex;
    justify-content: space-around;
    padding: 20 20 0 20;
    border-bottom: 1px solid #8FB63F;
    margin-bottom: 30px;
}

.product__info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.product__details {
    width: 35%;
    padding: 50px 0px;
}

.product__details p {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 2%;
}

.product__details h3 {
    font-size: 20px;
    font-weight: 900;
    line-height: 47px;
}

.product__btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid black;
}

.product__btns i {
    padding: 20px;
    display: flex;
    flex-direction: column;
    line-height: 60px;

}

.product__img img {
    padding: 30px 0px;
    width: 100%;
    max-width: 566px;
}

/* customize */
.customize {
    margin-bottom: 50px;
}

.customize__info {
    text-align: center;
    padding: 50px;
}

.customize__info h2 {
    padding: 2% 13%;
    font-size: 3.5vw;
    font-weight: 200;
    color: #5B5B5B;
    line-height: 70.31px;
}

.customize__info p {
    padding: 2% 13%;
    font-size: 16px;
    font-weight: 400;
    color: black;
    line-height: 25px;

}

.customize__category p {
    padding: 20px 0;
}

.customize__category h2 {

    font-size: 2.5vw;
    font-weight: 200;
    color: #005374;
}


.customize__category a {
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: 600;
    color: black;
}



.customize__category {
    display: flex;
    gap: 10px;
}

.fa-arrow-right {
    color: #8FB63F;

}


/* success */
.success__stories {
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
}

.success__stories__content {

    padding: 150px;
    height: auto;
    color: white;
    width: 40%;

}

#content1,
#content2 {
    background-color: #27697E;
}

#content3,
#content4 {
    background-color: #688C3D;
}

.success__stories__image img {
    width: 1000px;
    object-fit: full;

}

.success__title {
    text-align: center;
    margin-bottom: 60px;
}

.success__title h2 {
    color: #8FB63F;
    font-size: 72px;
    font-weight: 100;
}

.success__title p {
    color: #A6A6A6;
    font-size: 50px;
    font-weight: 100;
}

.success__stories__content h2 {

    font-size: 2vm;
    margin-bottom: 10px;
    font-weight: 200;

}

.success__stories__content a {
    text-decoration: none;
    font-size: 1.2vm;
    margin-top: 30px;
    font-weight: 900;
    color: white;

}


/* ipad */
@media screen and (max-width: 1300px) {

    .container {
        padding: 10px 50px;
    }

    .top__element ul {
        display: none;
    }

    .fa-solid {
        display: block;

    }

    .hero__bg {
        height: 70vh;
    }

    .top {
        justify-content: space-around;
    }

    .top__element ul.show {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: white;
        padding: 10px 20px;
        z-index: 10;
    }

    .top__element li {
        display: block;
    }

    .top {
        padding-right: 20px;
    }

    .hero__img {
        display: flex;
        flex-wrap: wrap;
    }

    #img__left {
        width: 100%;
        padding-top: 10px;
        max-width: 300px;
        margin-left: -130px;

    }

    #img__right {
        width: 100%;
        padding-top: 10px;
        max-width: 300px;
        margin-left: -100px;

    }

    h1 {
        top: 25%;
        left: 10px;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 5vw;
    }

    .hero__info {
        top: 40%;
        width: 100%;
        left: 10px;
        text-align: center;
        font-size: 4vw;
    }

    .hero__btn {
        top: 60%;
        left: 20%;
        text-align: center;

    }

    .product__img img {
        padding: 0px;
        width: 100%;
    }

    .product__details {
        width: 55%;
        padding: 30px 0px;
    }

    .customize__info {
        text-align: center;
        padding: 20px;
    }

    .customize__info h2 {
        padding-bottom: 20px;
        line-height: 40px;
    }

    .customize__info p {
        padding: 0;
    }




}

/* mobile */

@media screen and (max-width: 750px) {

    .container {
        padding: 5px 20px;
    }

    #img__left {
        max-width: 150px;
        margin-left: -50px;

    }

    #img__right {
        max-width: 150px;
        margin-left: -100px;


    }

    h1 {
        top: 18%;
        left: 0px;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 5vw;
    }

    .hero__info {
        top: 30%;
        width: 100%;
        left: 0px;
        text-align: center;
        font-size: 4vw;
    }

    .hero__btn {
        top: 40%;
        font-size: 12px;
    }

    .hero__bg {
        height: 50vh;
    }


    .top__element ul.show {
        padding: 10px 5px;
    }

    .product__info {
        width: 100%;
        flex-direction: column;
        padding: 10px;

    }

    .product__img {
        width: 100%;
        padding: 0px;

    }

    .product__details {
        width: 100%;
        padding: 10px 0 0 0;

    }

    .customize__category {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }



}